@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --font: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: #fff;
}

body{
    background-color: #000;
}

#main{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/594f8025-139a-4a35-b58d-4ecf8fdc507c/d3c4e455-f0bf-4003-b7cd-511dda6da82a/IN-en-20240108-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 96vh;
    position: relative;
}

#bg-dark{
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
}

#navbar{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    height: 91px;
}

#navbar img{
    width: 150px;
}

#hero{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#hero-text .head-text{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

#hero-text .sub-text{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 0;
}

#hero-text .sub-text2{
    text-align: center;
    font-size: 1.2rem;
    padding: 5px 0;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.input input{
    padding: 12px 20px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #131313bd;
    width: 280px;
    margin-right: 10px;
    font-size: 16px;
}

.btn{
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #222222a6;
    padding: 6px 20px;
    font-weight: 600;
}

.btn-red-sm{
    background: #E50914;
    border: 1px solid #E50914;
    border-radius: 4px;
}

.btn-red{
    padding: 10px 20px;
    background: #E50914;
    border: 1px solid #E50914;
    border-radius: 4px;
    font-size: 1.2rem;
}

.line{
    background: #232323;
    width: 100%;
    height: 8px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.5rem 0;
    width: 85vw;
    margin: auto;
}

.row-reverse{
    flex-direction: row-reverse;
}

.row-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.row-text h1{
    font-size: 2.8rem;
    font-weight: 800;
}

.row-text p{
    font-size: 1.5rem;
}

.row-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-animation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-animation img{
    width: 550px;
    position: relative;
    z-index: 1;
}

.row-animation video{
    width: 405px;
    position: absolute;
    margin-bottom: 12px;
}

#vid-sm{
    width: 350px;
    margin-bottom: 120px;
}

#about{
    padding: 4.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h1{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.accordion {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.accordion .bar{
    width: 80vw;
    font-size: 24px;
    background-color: #2D2D2D;
    padding: 20px;
    margin: 5px 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion .bar img{
    width: 40px;
}

.accordion .bar:hover{
    background-color: rgb(70, 70, 70);
}

#about span{
    margin-top: 1.5rem;
}

span p{
    font-size: 18px;
}

#footer{
    width: 80vw;
    margin: auto;
    padding: 4.5rem 0;
}

#contact{
    width: 100%;
}

#contact p{
    color:rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

#contact p u{
    color:rgba(255, 255, 255, 0.7);
}

#footer .list{
    margin-top: 15px;
    font-size: 14px;
}

.list ul{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    list-style: none;
}

.list ul li{
    margin: 8px 0;
    cursor: pointer;
}

.list ul li u{
    color: rgba(255, 255, 255, 0.7);
}

#footer span select{
    margin-top: 20px;
}

#footer span p{
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}